html {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  overflow-x: hidden;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  background: black;
  padding: 10%;
  font-size: 1.15em;
}

h5 {
  font-size: 1.1em;
}

button {
  font-weight: bold;
  background: #000000;
  font-size: 0.85em;
  padding: 3% 6%;
  border-radius: 120px;
  color: white;
}

button:hover {
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.2);
}

.fas {
  background: none;
  font-size: 1.5em;
  color: white;
}

.nav {
  font-size: 0.85em;
  line-height: 0.9em;
  padding: 3% 6%;
  background: black;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-items: end;
  align-items: center;
}

.logo {
  justify-self: start;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: start;
}

.nav p {
  font-weight: normal;
}

.cart {
  background: white;
  border-radius: 50%;
  padding: 10%;
}

.cart .fas {
  color: black;
}

.active .open:hover {
  color: rgba(0, 0, 0, 0.79);
}

.content {
  position: fixed;
  top: 0;
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 40px);
  justify-items: end;
  align-items: center;
  background: rgba(0, 0, 0, 0.79);
  height: 100vh;
  padding: 20% 6%;
  text-align: right;
  width: 100vw;
  z-index: 10;
  font-weight: normal;
  font-size: 1.15em;
}

.content .close {
  color: inherit;
}

.s:hover {
  position: relative;
  right: 20px;
  border-bottom: 2px solid #FFFFFF;
  width: 20%;
}

.content a:hover {
  font-weight: bold;
}

.nav .mediaMin486 {
  display: none;
}

.collapse1024 {
  display: none;
  font-weight: normal;
  justify-items: end;
  align-content: center;
}

.collapse1024 a {
  padding: 5% 0;
}

.collapse1024:hover {
  border-bottom: 2px solid #FFFFFF;
  width: 80%;
  font-weight: bold;
}

.date1024 {
  display: none;
}

.topContainer {
  padding: 3% 6%;
  display: grid;
  grid-gap: 5%;
  grid-template-rows: auto auto;
  overflow: hidden;
}

.topContainer h1 {
  font-size: 1.125em;
  color: black;
}

.topContainer .heading {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  text-align: left;
}

.heading button {
  justify-self: center;
  align-self: center;
  font-size: 0.875em;
  font-weight: normal;
}

.heading p {
  display: none;
  color: black;
  text-transform: uppercase;
  font-size: 1.15em;
  font-weight: normal;
}

.midCarousel {
  padding: 6% 6%;
}
.midCarousel .imgMid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
}

.midContainer button {
  font-size: 0.8125em;
  margin: 4% auto 10%;
}

.firstPair {
  padding: 3% 3%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.firstPair320 {
  border: 20px solid black;
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
}

.firstPair div {
  grid-row: 1/-1;
  grid-column: 1/-1;
  display: grid;
  align-items: center;
  width: 120%;
  height: 40%;
  background: rgba(0, 0, 0, 0.9);
}

.firstPair .heading {
  font-size: 0.85em;
}

.midCarousel1024 {
  display: none;
}

.firstPair1024 {
  display: none;
}

.botContainer {
  margin: 20% 0 3%;
}

.ourPicks {
  height: 600px;
  width: auto;
  overflow-y: auto;
  color: black;
  text-align: left;
}

.ourPicks img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 5%;
  padding: 5% 8%;
  font-size: 1.15em;
  font-weight: normal;
}

.crossed {
  text-decoration: line-through;
  padding-right: 5%;
}

.red {
  color: #FD0000;
}

.botContainer button {
  margin: 5% auto;
  border-radius: 100px;
  padding: 3% 15%;
  font-weight: 1.15em;
}

.brands {
  padding: 0 6% 5%;
}

.brands h2 {
  background: none;
  color: black;
  padding: 25% 0 5%;
}

.imgBrands {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  justify-items: center;
  align-items: center;
}

.imgBrands img {
  width: 100%;
  object-fit: contain;
}

.brands700 {
  display: none;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3%;
  justify-items: center;
  align-items: center;
}

.brands700 img {
  object-fit: contain;
  width: 100%;
}

.aboutUs {
  text-align: left;
  font-weight: normal;
  background: black;
  font-size: 0.85em;
  padding: 3% 6%;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: start;
}

.numbers span {
  font-weight: bold;
}

.copyright {
  padding: 15% 6% 3%;
  background: black;
}

.copyright hr {
  border: 1px solid #FFFFFF;
  width: 30%;
}

.copyright a {
  font-weight: 0.85;
}

.copyright p {
  font-weight: none;
  font-size: 0.85em;
}

@media screen and (max-width: 1024px) and (min-width: 476px) {
  body {
    font-size: 21px;
  }

  .nav .mediaMin486 {
    display: block;
  }

  .nav {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  }

  .topContainer .heading {
    grid-template-columns: 2.5fr 1fr;
  }

  .heading p {
    display: block;
  }

  .heading button {
    align-self: start;
    font-size: 1.125em;
  }

  .topContainer h1 {
    font-size: 1.5em;
  }

  .midContainer button {
    font-size: 1.125em;
  }

  .firstPair .heading {
    font-size: 1.85em;
  }

  .ourPicks {
    height: auto;
    width: auto;
    overflow-y: visible;
    color: black;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .brands .heading {
    font-size: 1.85em;
  }

  #brandsCarousel {
    display: none;
  }

  .brands700 {
    display: grid;
  }

  .numbers {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: start;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 23px;
  }

  h2 {
    background: black;
    padding: 3% 0;
    font-size: 1.15em;
  }

  .nav {
    padding: 1% 3%;
  }

  .open {
    display: none;
  }

  .collapse1024 {
    display: grid;
  }

  .date1024 {
    display: grid;
  }

  .nav {
    grid-template-columns: 2fr repeat(7, 1fr);
    justify-items: center;
    align-items: center;
  }

  .topContainer .heading {
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .heading button {
    justify-self: start;
  }

  .heading p {
    display: block;
  }

  .heading button {
    align-self: start;
    font-size: 1.125em;
  }

  .topContainer h1 {
    font-size: 1.5em;
  }

  .topContainer {
    padding: 3% 0 3% 3%;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
  }

  #carouselMid {
    display: none;
  }

  .midCarousel1024 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
  }

  .midContainer button {
    font-size: 1.125em;
    padding: 1% 7%;
  }

  .firstPair .heading {
    font-size: 1.85em;
  }

  .firstPair1024 {
    display: block;
    grid-row: 1/-1;
    grid-column: 2/3;
    width: 100%;
  }

  .firstPair {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 5%;
  }

  .firstPair320 {
    grid-row: 1/-1;
    grid-column: 1/2;
    width: 100%;
    border: 0;
  }

  .firstPair div {
    grid-row: 1/-1;
    grid-column: 1/-1;
    display: grid;
    align-items: center;
    width: 120%;
    height: 40%;
    background: rgba(0, 0, 0, 0.9);
  }

  .ourPicks {
    height: auto;
    width: auto;
    overflow-y: visible;
    color: black;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .botContainer button {
    font-size: 1.125em;
    padding: 1% 7%;
  }

  .brands .heading {
    font-size: 1.85em;
  }

  #brandsCarousel {
    display: none;
  }

  .brands700 {
    display: grid;
  }

  .numbers {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: start;
  }
}

/*# sourceMappingURL=styles.css.map */
